@font-face {
    font-family: 'proxima';
    src: url(fonts/proximanova_regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'proxima-extrabold';
    src: url(fonts/proximanova_extrabold.otf);
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
*{
    font-family: proxima;
}
textarea{
    outline: none;
}
#yandex_map{
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 0;
}   
.head_section{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.nav_bar{
    padding: 0 20px;
    align-items: center;
    width: 98%;
    min-height: 70px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background: white;
    border-radius: 24px;
    margin: 15px 0 0 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,.12);
}
.logo-text{
    font-family: proxima-extrabold;
    font-weight: bold;
    font-size: 35px;
    color: black;
}
.logo-text:hover{
    text-decoration: none;
    color: black;
}
.nav-item-1{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.nav-inner-1 a{
    color: black;
}
.nav-inner-1 button{
    display: flex;
    background: #fff;
    border: none;
}
.nav-inner-1 a, .user-links a{
    font-size: 15px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.nav-inner-1 p{
    transition: .250s;
    margin-left: 5px;
    margin-bottom: 0;
}
.drop-menu{
    padding-top: 10px;
    z-index: 1;
}
.user-links{
    display: none;
    position: absolute;
}
.user-links a, .user-links p{
    color: black;
}
.nav-item-1:hover .user-links{
    display: flex;
    flex-direction: column;
    padding: 15px 15px 0 15px;
    width: 20%;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0 8px 20px rgba(0,0,0,.12);
    list-style-type: none;
}
.nav-item-1:hover .user-links a{
    text-decoration: none;
}
.nav-item-1:hover .user-links li{
    margin-bottom: 15px;
}
.nav-item-1:hover .nav-inner-1 a, .nav-item-1:hover .nav-inner-1 button{
    text-decoration: none;
    color: #f53c2f;
}
.nav-item-1:hover .nav-inner-1 p{
    transition: .250s;
    color: black;
    transform: rotate(90deg);
}
.user-links a:hover{
    transition: .150s;
    color: #f53c2f;
}
.pfp{
    border-radius: 50%; 
    margin: 0 5px;
    max-width: 42px;
    max-height: 42px;
}
.profile button{
    padding: 0;
    width: 100%;
    border: none;
    background: #FFF;
}
.feats{
    width: 21%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 15px;
    flex-grow: 1;
    left: 1%;
    z-index: 1;
    border-radius: 25px;
    margin: 15px 0 15px 15px;
    background: #f4f3f1;
    box-shadow: 0 8px 20px rgba(0,0,0,.12);
}
.feats-section{
    display: grid;
    grid-gap: 5px;
}
.address-section{
    padding: 15px 15px 4px 15px;
    border-radius: 24px;
    background: #fff;
}
.departure, .destination{
    display: flex;
    align-items: center;
}
.departure img, .destination img, .add-stop img{
    margin-right: 16px;
}
.circle{
    margin-right: 16px;
    max-width: 24px;
    max-height: 24px;
}
.address-1, .address-2{
    width: 100%;
}
.search-add-1, .search-add-2{
    padding: 17px 25px 15px 0;
    font-size: 16px;
    resize: None;
    width: 100%;
    border: none;
}
.search-add-1{
    padding: 0 0 5px 0;
}
.search-add-1:focus .depart-border, .search-add-2:focus .destination-border{
    border-color: #fcb900;
} 
.feats textarea::placeholder{
    color: #9e9b98;
}
.address-1 span{
    color: #9e9b98;
    font-size: 13px;
}
.depart-border, .destination-border{
    border: 1px solid rgba(210,208,204,.5);
}
.add-stop{
    transition: .1s;
    cursor: pointer;
    margin-top: 2px;
    padding: 16px 0 12px 14px;
    width: 100%;
}
.add-stop button{
    transition: .1s;
    display: flex;
    background: #FFF;
    border: none;
}
.add-stop span{
    font-size: 16px;
}
.add-stop:hover button, .add-stop:hover {
    background: #f4f3f1;
    transition: .1s;
}
.car-rates{
    background: #fff;
    padding: 15px;
    border-radius: 24px;
    display: grid;
    grid-auto-flow: column;
}
.car-rates button{
    border-radius: 20px;
    padding: 8px 8px 7px;
    width: 100%;
    border: none;
    transition: .1s;
    background: #FFF;
    display: flex;
    justify-content: space-between;
}
.car-rates button div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.car-rates img{
    height: 20px;
    width: 56px;
    margin-bottom: 8px;
}
.start-price, .comfort-price, .business-price{
    font-size: 16px;
}
.rate-info{
    max-width: 16px;
    max-height: 16px;
}
.car-rates button:active{
    scale: 95%;
}
.car-rates button:focus{
    font-weight: bold;
    transition: .1s;
    background: #f4f3f1;
}
.pay-section{
    padding: 18px 8px;
    background: #fff;
    border-radius: 24px;
}
.pay-section button{
    width: 100%;
    border: none;
    background: #FFF;
    font-size: 16px;
}
.pay-inner{
    display: flex;
    justify-content: space-between;
}
.pay-method{
    color: #9e9b98;
}
.pay-arrow{
    width: 8px;
    height: 14px;
}
.pay-img{
    margin: 0 8px;
    width: 36px;
    height: 24px;
}
.order{
    box-shadow: 0 8px 20px rgba(0,0,0,.12);
    border-radius: 24px;
    padding: 15px;
    background: #fff;
}
.order-btn{
    border: none;
    height: 56px;
    background: #f9df29;
    border-radius: 16px;
    width: 100%;
    font-size: 16px;
}





