<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'core/css/style.css' %}">
</head>
<body class="login-body"> 
    
    <form class="form" method="POST">
        {% csrf_token %}
        {{signin_form.as_p}}
        <div class="auth-section">
            <div class="auth-inner-section">
                <h1>Вход</h1>
                <div class="auth-option">
                    <button id="auth-email" class="auth-option-active" value="clicked">Почта</button>
                    <button id="auth-phone">Телефон</button>
                </div>
                <div class="auth-input">
                    <input type="text" name="user_login" value="{{current_user_login}}" placeholder="Логин или email"></input>
                </div>
                <div class="auth-wrap-btn">
                    <button class="signin-btn" type="submit">Войти</button>
                    <button class="signup-btn">Создать аккаунт</button>
                </div>
            </div>
    </form>
    <form class="form" method="POST">
        {% csrf_token %}
        {{signup_form.as_p}}
        <div class="auth-inner-section signup-section auth-inner-section-hidden">
            <h1>Создать аккаунт</h1>
            <div class="auth-input">
                <input type="email" name="email" placeholder="Почта"></input>
            </div>
            <div class="auth-input">
                <input type="password" name="password" placeholder="Пароль"></input>
            </div>
            <div class="auth-wrap-btn">
                <button class="continue" type="submit" value="signup" name="signup">Продолжить</button>
            </div>
        </div>
    </div>
    </form>
    <script type = "text/javascript" src="{% static 'core/js/script.js' %}" ></script>
</body>
</html>