<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body> 
    <form method="post">
    {% csrf_token %}
    <div class="auth-section">
        <div class="auth-inner-section">
            <h1>Вход</h1>
            <div class="auth-option">
                <button>Почта</button>
                <button>Телефон</button>
            </div>
            <div class="auth-input">
                {{ form.username_or_email}}
            </div>
            <div class="auth-wrap-btn">
                <button class="auth-btn">Войти</button>
            </div>
        </div>
    </div>
    </form>
</body>
</html>